body{
    background-color: rgba(238, 26, 26, 0.617)
}

.profile_pic{
    border-radius: 50% ;
}
.layout{
    color: rgb(52, 46, 170);
    font-family:cursive;
}
table tr:feven{
    background-color: rgb(69, 173, 224)
}
.titlo{
  color:white;
}
.myheader{
  text-align:center;
  text-color:blue;
  background:url(https://wallpaperaccess.com/full/138728.jpg)
}

.about_me{
  color:white;
  background-color:#333c8a;
  
.carousel-item{
 height:500px;
 text-align:center;
}

.item1 {
  background-color:red;
  height: 400px;
}

.item2 {
    
  background-color:yellow;
  height: 400px;
}
.blck{
    color:black;
}

.item3 {
  background-color:blue;
  height: 400px;
}
.logo{
  color:white;
  
}
